@model IEnumerable<Category>


@{
    foreach (var item in Model)
    {

        <li class="nav-item"><a class="nav-link link-primary" href="/Categories/Index/@item.Id">@item.Name</a></li>



    }


}
